[submodule "vendor/CLI11"]
	path = vendor/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/systemc"]
	path = vendor/systemc
	url = https://github.com/accellera-official/systemc.git
